# 모든 노드 모듈 완벽 차단
**/node_modules/
node_modules/

# 2GB짜리 안드로이드 폴더 완벽 차단
**/android/
android/

# 기타 무거운 폴더들
**/ios/
**/.expo/
**/.git/
**/build/

# 패치 파일이나 에러 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*