@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dunggeunmiso {
    font-family: 'Hakgyoansim Dunggeunmiso TTF B';
  }
  
  .boardmarker {
    font-family: 'Hakgyoansim BoardmarkerR';
  }
}